@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url(https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css);


.bg-dark-blue {
	background-color: #040420;
}
.w-35 {
	width: 35%;
}
.w-65 {
	width: 65%;
}





body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}
a, a:hover, a:focus {
	text-decoration: none;
}


/* CATEGORIAS PRINCIPALES */


.mainMenu .content {
	margin: 0 auto;
	display: block;
	width: 97%;
	color: #FFF;
	font-size: 1em;
	border-top: 1px dashed #455A64;
}
.mainMenu-option {
    padding: 16px 0;
    display: inline-block;
    float: left;
    width: 16.6%;
    color: #FFF;
    line-height: 15px;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.mainMenu-option:hover {
    color: #FFF;
    text-shadow: 0 0 1px #FFF;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.mainMenu-option .mm-ico:before {
    font-size: 1.5em;
}
.mainMenu-option .mm-ico {
    width: 20%;
    vertical-align: middle;
    display: inline-block;
}
.mainMenu-option .mm-text {
    width: 75%;
    font-size: 0.9em;
    font-weight: 600;
    vertical-align: middle;
    display: inline-block;
}


/* PROMESA DE SERVICIO */


.servicePromise {
	margin: 0 auto;
	width: 97%;
	display: block;
	border-bottom: 1px dashed #CCC;
}
.servicePromise span {
	display: block;
}
.SP-ico {
    padding: 0 0 10px 0;
    font-size: 2em;
    display: block;
    color: #0091EA;
}
.SP-text {
    font-size: 0.8em;
    color: #666;
}
.SP-text i {
	font-style: normal;
}


/* OFERTAS DEL DIA */


.topProduct .title {
	margin-bottom: .2rem;
	font-size: 1rem;
	font-weight: 600;
	color: #000;
}
.topProduct .old-price {
    display: block;
    font-size: 0.8em;
    color: #0288D1;
    font-weight: 400;
    text-decoration: line-through;
    line-height: 20px;
}
.topProduct .price {
	margin-bottom: .2rem;
	display: block;
    font-size: 1.2em;
    color: #0288D1;
    font-weight: 600;
    line-height: 20px;
}
.topProduct .price small {
    font-size: 0.7em;
    vertical-align: top;
    line-height: 17px;
}
.topProduct .btnBuy {
    display: inline-block;
    margin-top: 5px;
    padding: 4px 10px 5px 10px;
    font-size: 0.7em;
    font-weight: 700;
    color: #00C853;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #00C853;
    border-radius: 15px;
}
.topProduct .btnBuy:hover, .topProduct .btnBuy:focus {
	color: #FFF;
	background-color: #00C853;
}
.topProduct a:hover > .float-left .btnBuy, .topProduct a:focus > .float-left .btnBuy {
	color: #FFF;
	background-color: #00C853;
}
.topProCentral a:hover > .w-100 .btnBuy, .topProCentral a:focus > .w-100 .btnBuy {
	color: #FFF;
	background-color: #00C853;
}
.topProduct .discount{
  position: absolute;
  top: 0;
  right: 0.5em;
  z-index: 1;
  color: #FFF;
  font-size: 1.05em;
  cursor: pointer;
  width: 1.4em;
  line-height: 0.3em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}
.topProduct .discount:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 1.2em;
  border: 1.5em solid #FF5722;
  z-index: -1;
  top: -1em;
  border-top-width: 2.6em;
  border-bottom-color: transparent;
  border-bottom-width: 1em;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.topProduct .discount:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #BF360C transparent;
  top: -1em;
  right: 3em;
  border-width: 0 0 1em 0.7em;
  z-index: -1;
}
.topProduct .discount small {
	font-size: 0.7rem;
	font-weight: 600;
}
.topProCentral .discount{
  font-size: 1.5em;
  line-height: 0.3em;
}
.topProCentral .discount small {
	font-size: 1rem;
}


/* PRECIOS RECORTADOS */


.crazyPrices {
	background-color: #f1f1f1;
}
.crazyPrices .carousel-cell, .productResult .resultItem {
    display: block;
    overflow: hidden;
    margin: 0 4px 0 3px;
    width: 16%;
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    background-color: #FFF;
    border: 2px dashed #e2e2e2;
    border-radius: 4px;
}
.crazyPrices .carousel-cell:hover, .productResult .resultItem:hover {
    border-color: #FF5722;
    white-space: normal;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.crazyOffer .image, .resultItem .image {
  	position: relative;
  	border-bottom: 1px dashed #e2e2e2;
}
.crazyOffer .price, .resultItem .price {
  	font-size: 1.4em;
  	color: #000;
}
.crazyOffer .title, .resultItem .title {
	font-size: 0.8em;
	color: #666;
}
.crazyOffer .discount {
  	top: 8px;
  	right: 8px;
  	position: absolute;
    display: inline-block;
    padding: 4px 10px 5px 10px;
    font-size: 0.5em;
    font-weight: 700;
    color: #FF5722;
    text-transform: uppercase;
    border: 1px solid #FF5722;
    border-radius: 15px;
    background-color: #FFF;
    white-space: normal;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.crazyOffer .d-block:hover > .py-2 .discount, .crazyOffer .d-block:focus > .py-2 .discount {
  	color: #FFF;
  	background-color: #FF5722;
    white-space: normal;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}


/* PRODUCTOS DESTACADOS */


.suggestedOffers .offer {
	box-shadow: 0 10px 15px rgba(0,0,0,.15);
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.suggestedOffers .offer:hover, .suggestedOffers .offer:focus {
	box-shadow: 0 0 0 transparent;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.suggestedOffers .offer .title, .productResult .offer .title {
	font-size: 1em;
	font-weight: 600;
	color: #000;
}
.suggestedOffers .offer .price {
  	margin-bottom: .2rem;
  	display: block;
    font-size: 1.2em;
    color: #0288D1;
    font-weight: 600;
    line-height: 20px;
}
.suggestedOffers .offer .price small {
    font-size: 0.7em;
    vertical-align: top;
    line-height: 17px;
}
.suggestedOffers .offer .tag {
    padding: 3px 6px;
    font-size: 0.6em;
    font-weight: 600;
    color: #FFF;
    border-radius: 3px;
    background-color: #448AFF;
}


/* BANNER HELP */


.bannerHelp {
	font-size: 1.5em;
	font-weight: 800;
	color: #FFF;
	text-align: center;
	border-top: 2px dashed #f1f1f1;
	border-bottom: 2px dashed #FFF;
	background-color: #00C853;
}
.bannerHelp a {
	color: #FFF;
	text-decoration: none;
}


/* OPCIONES DE PAGO - CAROUSEL */


.payment .carousel-cell {
    display: block;
    border: 1px solid #d1d4d3;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 4px 0 3px;
    background: #FFF;
    width: 16%;
    height: 70px;
    position: relative;
}

.payment .carousel-cell img {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 10px;
}
.payment .carousel-cell>img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* RESULTADO CATEGORIA */


.productResult .resultItem {
    display: auto;
    margin: 0;
    width: 18%;
}
.resultItem .price {
    font-size: 1.4em;
    color: #000;
}
.productResult .resultItem .title {
  font-size: 0.9em;
  color: #000;
}
.productResult .resultItem .discount {
    padding: 4px 10px 5px 10px;
    font-size: 0.7em;
    font-weight: 700;
    color: #FF5722;
    text-transform: uppercase;
    border-top: 2px dashed #e2e2e2;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.productResult .resultItem .offer:hover > a .discount, .productResult .resultItem .offer:focus > a .discount {
    color: #FFF;
    border-top: 2px dashed #FFF;
    background-color: #FF5722;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
